.elements-menu {
    height: 500px;
    width: 200px;
    position: fixed;
    left: 20px;
    top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000; /* Make sure the menu appears on top of other elements */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .elements-menu button {
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  